body {
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
}

#wrapper {
    width: 500px;
    height: 500px;
    background-color: #606060;
    position: relative;
    border: 2px solid black;
}

#myAnimate {
    width: 50px;
    height: 50px;
    background-color: #d6ed17;
    position: absolute;
}